<header class="header" role="banner">
  <h1 class="logo">
    <a routerLink="/">Silva <span>Advocacia</span></a>
  </h1>
  <div class="nav-wrap">
    <nav class="main-nav" role="navigation">
      <ul class="unstyled list-hover-slide">
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a href="#">Meu trabalho</a></li>
        <li><a routerLink="/contatos">Contato</a></li>
      </ul>
    </nav>
    <ul class="social-links list-inline unstyled list-hover-slide">
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Google+</a></li>
      <li><a href="#">Linkedin</a></li>
      <li><a href="#">Whatsapp</a></li>
    </ul>
  </div>
  <div class="site-footer">
    <div class="wrapper">
      <span class="copyright" rel="copyright">© 2019 . feito por
        <a href="https://lucasjose23.github.io/Lucas-jose/" rel="external" target="_blank"
          title="Contatar Everton Strack">LUCAS-DEV</a>
      </span>
    </div>

  </div>
 
 
</header>
<div class="menu-mobile">
    <input type='checkbox' id='mmeennuu'>
    <label class='menu' for='mmeennuu'>
    
    <div class='barry'>
      <span class='bar'></span>
      <span class='bar'></span>
      <span class='bar'></span>
      <span class='bar'></span>
    </div>
      
    <ul>
      <li><a id='home' href='#home'>Home</a></li>
      <li><a id='about' href='#about'>About</a></li>
      <li><a id='contact' href='#contact'>Contact</a></li>
      <li><a id='link' href='#link'>Other</a></li>
    </ul>
    
    </label>

</div>