<div class="header">
  <div class="header__bg"></div>
  <div class="header__logo">
    
    <img src="../../assets/sa-advo.png" alt="">
  </div>
  <h1 class="header__title">Come code with us.</h1>
  <div class="header__log">
    
   
  </div>
</div>

<div class="about">
  <div class="about__title">
     <h2 class="about__title--text">Who we are?</h2>
  </div>
  <div class="about__text">
     <p class="about__text--content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque officiis impedit exercitationem aperiam culpa repudiandae, architecto fugiat cumque dignissimos perferendis rerum eum aliquid assumenda consequatur aspernatur accusantium adipisci rem quasi!
        
        <br>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident asperiores quisquam voluptatum dolorem. Hic animi asperiores quibusdam eum recusandae, similique obcaecati dolore, porro saepe consequuntur, ad reprehenderit voluptatibus voluptas!
        
        <br>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, at qui quisquam sed maiores, rerum pariatur accusantium cum voluptates nihil ut aperiam nobis, suscipit dicta itaque obcaecati omnis culpa magnam.
     </p>
  </div>
</div>
